<div class="container">
    <h1 class="text-center" style="color:green;">Create Album</h1>
    <hr class="col-md-7" />
    <div align="center">
        <form action="/Albums/Create" method="post">
            <div class="form-group col-md-7">
                <label for="name" style="color: black">Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Name" />
                <br />
                <label for="cover" style="color: black">Cover</label>
                <input class="form-control" type="text" name="cover" id="cover" placeholder="Cover" />
            </div>
        </form>
        <div class="row text-center">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Create" />
            </div>
            <div class="col">
                <a href="/Albums/All" class="btn btn-success">Back To All</a>
            </div>
        </div>
    </div>
</div>
