<div class="container">
    <div class="text-center" style="color: black;">
        <h3>
            Tracks
        </h3>
        <ol>
            <li>
                {{tracks}}
            </li>
        </ol>
    </div>
    <div>
        <div style="color: black;">
            Name {{Name}}
            <br />
            Price {{Price}}
        </div>
        <div class="col-md-4">
            <a class="btn btn-success" href="/Tracks/Create?id={{AlbumId}}">Create Track</a>
            <a class="btn btn-success" href="/Albums/All">Back To All</a>
        </div>
    </div>
</div>
