<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Albums</title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
    <hr />
    <h3>Tracks</h3>
    <hr />
    <a href="/Tracks/Create">Create Track</a>
    <hr />

    <hr />
    <hr />
    <a href="/Albums/All">Back To All</a>
    <hr />
    <footer>
        <p><strong>CopyRight &copy; Sanity Design Studios. All rights reserved.</strong></p>
    </footer>
</body>
</html>