<div class="container">
    <h1 class="text-center" style="color:green;">Login</h1>
    <hr class="col-md-7" />
    <div align="center">
        <form method="post" action"/Users/Login">
        <div class="form-group col-md-7">
            <label for="login" style="color: black;">Username / Email</label>
            <input class="form-control" type="text" name="username" id="login" placeholder="Username / Email" />
            <br />
            <label for="password" style="color: black;">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Password" />
            <br />
            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Login" />
            </div>
        </div>
        </form>
    </div>
</div>