<div class="container">
    <h1 class="text-center" style="color:green;">Register</h1>
    <hr class="col-md-7" />
    <div align="center">
        <form method="post" action"/Users/Login">
            <div class="form-group col-md-7">
                <label for="login" style="color: black;">Username / Email</label>
                <input class="form-control" type="text" name="username" id="login" placeholder="Username / Email" />
                <br />
                <label for="password" style="color: black;">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" />
                <br />
                <label for="confirmPassword" style="color: black;">Confirm Password</label>
                <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" />
                <br />
                <label for="email" style="color: black;">Email</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email" />
                <br />
                <div class="text-center">
                    <input type="submit" class="btn btn-success" value="Register" />
                </div>
            </div>
        </form>
    </div>
</div>